h2 {
    text-align: center;
    font-size: 40px;
}

.cart_flex {
    display: flex;
    width: 50%;
    margin:0 auto;
    margin-top:50px;
    min-height: 50vh;
}

.cart_item_area {
    width: 70%;
}

.cart_item {
    margin-bottom:10px;
    padding-top :10px;
    padding-bottom:10px;
    margin-right: 10px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    height:200px;
    
}

.cart_item_img_area img {
    height: 100%;
}
.cart_item {
    display: flex;
}
.cart_item_info {
    margin-left:10px;
}
.cart_item_name {
    font-size: 20px;
    margin-bottom: 10px;
}
.cart_item_color {
    font-size:16px;
    margin-bottom:10px
}
.cart_item_price {
    font-size:18px;
    margin-bottom:10px
}
.delete_button {
    border: 1px solid #333;
    padding:5px;
}
.cart_ui {
    width: 30%;
    border: 2px solid #333;
    padding:20px;
    height:200px;
}
.sum_item_price
,.shipping_fee
,.sum_price {
    margin-bottom:10px;
    display: flex;
    justify-content: space-between;
}
.sum_price {
    border-top: 2px solid #333;
    padding-top:10px;
    font-size:20px;
}

.buy_button {
    padding:10px 20px 10px;
    color: #fff;
    background-color: lightblue;
    width: 100%;
    text-align: center;
    margin-bottom:10px;
}

.empty_cart_area {
    text-align: center;
}

.empty_cart_message {
    font-size:24px;
    margin-top:20px;
    margin-bottom: 20px;
}

.empty_cart_link {
    text-decoration: underline;
}
