.main_container {
    width: 68%;
    margin:120px auto 0;
    display: flex;
    justify-content: space-between;
}
.side_menu {
    width: 200px;
    margin-top: 48px;
}
h3 {
    font-size:20px;
    font-weight: 600;
    border-bottom: 1px solid #939393;
    padding-bottom: 10px; 
}

.category_menu_item {
    border-bottom: 1px solid #939393;
    padding-top: 15px;
    padding-bottom: 15px;
}

h4 {
    font-size:16px;
    cursor: pointer;
}
.small_category_menu_list {
    max-height:0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
.small_category_menu_list li{
    margin-top:10px;
    margin-left:10px;
    font-size:14px;
}
.small_category_menu_item a:hover{
    text-decoration: underline;
}
.item_list_area {
    margin-bottom:100px;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family:Noto Sans JP Rounded;
    font-weight: 300;
}
.item {
    margin-bottom:16px;
}
.item img {
    width: 100%;
    text-align: center;
}
.item p {
    margin-top :10px;
}
.item:hover {
    text-decoration: underline;
}
.item_list {
    display:grid;
    grid-template-columns: repeat(4,250px);
    gap: 20px;
    place-content: center;
    margin-top: 30px;
}
#ranking a{
    position: relative;
}
.ranking_icon {
    background-color: #333;
    color: #fff;
    font-family: "Arial Black", sans-serif;
    padding:5px 9px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    left:0px;
}

.ranking_1 .ranking_icon{
    background-color:gold;

}

.ranking_2 .ranking_icon{
    background-color:silver;
}

.ranking_3 .ranking_icon{
    background-color:#815a2b;
}