
.top_img img{
    width: 100%;
    display:block;
}
.slider {
    position: relative;
    height:797px;
}
.slide {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.active {
    opacity: 1;
}
.more_button {
    display: block;
    margin:0 auto;
    margin-top:20px;
    width:fit-content;
    text-decoration: underline;
}

.more_button:hover {
    text-decoration: none;
}